{% extends 'base.html' %}

{% block main %}
    <h1>Who is Dave?</h1>
    
    <h3>The Short</h3>
        <p>
        I've always had a love of technology, from old DOS computers to our new shiny super computers in our pockets.
        I spent 8 years in the Army Reserves as an IT Support Specialist and another 4 years working IT Support as a
        civilian. Realizing I don't enjoy desktop support, I went back to school. Now I'm on my way to graduating in
        May 2018 and doing something I enjoy professionally and as a hobby.
        </p>
        <p>
        When I'm not working, I enjoy lifting at the gym, getting my butt kicked in Super Smash Bros. by kids, PC-gaming,
        and camping with my wife and our dogs.
        </p>
    

    
    <h3>The Long</h3>
        <p>
        I enlisted in the Army when I was 17 and immediately shipped out to basic training following my high school
        graduation. My military occupational specialty (MOS) was 25B - Information Technology Specialist. I asked for
        this MOS specifically because I had always loved using a computer. I had one since I was around 8or 9 years old
        and fondly remember hacking in all the DOS-commands I needed to play games.

        While in the Army, I was exposed to all sorts of technologies, some of which I can proudly say don't even exist
        anymore! (Hello, Solaris!) Much of my time was spent running cable, diagnosing network problems, troubleshooting
        desktop problems (pro-tip: Do not, under any circumstances, plug a computer into a 220v outlet when it was still
        set to 110v.), and learning as much as I could about anything I could. Special shoutout to SGT Remick who
        patiently taught me how to present myself to clients and the finer details of IT Support.
        </p>
        <p>
        On the civilian side of things, I worked IT Support for a small mental health non-profit followed by a
        fair-sized school district. During this time, I was able to learn just how much I did not like IT Support! I
        remember thinking back fondly about a high school intro to programming class I had taken and decided that after
        hearing thousands of end-users complain about software they had to use every day, I was going to learn how
        to successfully develop software and fix all those issues.

        Spoiler: There's always going to be issues.
        </p>
        <p>
        So here I am, in the midst of my senior year at Kutztown University of Pennsylvania majoring in Computer
        Science - Software Development. Since I had been out of high school for ~8 years by the time I started college,
        I struggled a lot with my math. It took me multiple attempts to pass College Algebra and Trig. I actually
        ended up taking a summer remedial Algebra class and finally knocking out College Algebra, Trig, and Stats! I'll
        finish it off with both Calc I and Linear Algebra.

        I've rekindled my enjoyment of math, I've learned to think things through logically and break down big problems
        into small problems, and I've learned what I see myself doing for many years going forward. I write code for
        class projects, I write code for personal projects, I think about any coding problems I have when I'm watching
        TV or commuting. I love working through these puzzles consisting of 0s and 1s and I love knowing I'll have a
        career that will allow me to continuously learn as new technologies emerge.
        </p>
        <p>
        If you've read all that, thank you.
        </p>
{% endblock %}