{% extends "base.html" %}

{% block project %}
    {% block project_name %}
        <h1>Want to contact me?</h1>
    {% endblock %}

    {% block project_image %}
    {% endblock %}

    {% block project_short_desc %}
        <h4>
        Email is by-far the best way to get a hold of me.
        </h4>
    {% endblock %}

    {% block project_long_desc %}
        <h4>
        <a href="https://www.linkedin.com/in/david-schaeffer-a7a089a6/">LinkedIn</a>
        </h4>
        <h4>
        <a href="mailto:david.schaeffer2@gmail.com">E-mail</a> (warning: that'll open an email)
        </h4>
    {% endblock %}
{% endblock %}}