{% extends 'base.html' %}

{% block main %}
    <div class="header">
        <h1>FinnTools - A DM toolkit for Pathfinder</h1>
    </div>

    <div class="content">
        <h3>Encounter Creator</h3>

        <form action="/finntools/" method="POST">
            {{ party_form.number_of_characters.label }}
            {{ party_form.number_of_characters(onchange='this.form.submit()') }}
            <br>
            {% if num_characters %} {# Will only load after user makes selection #}
                {% for char in party_form.character_level.entries %}
                    Character Level
                    {{ char(onchange='this.form.submit()') }}
                    <br>
                {% endfor %}
                {{ party_form.difficulty.label }}
                {{ party_form.difficulty(onchange='this.form.submit()') }}
                <br>
                {{ party_form.average_party_level.label }}
                {{ party_form.average_party_level.data }}
                <br>
                {{ party_form.exp_budget.label }}
                {{ party_form.exp_budget.data }}
                <br>
                {{ party_form.filter_field.label }}
                {{ party_form.filter_field(onchange='this.form.submit()') }}
                <br>
            {% endif %}
            {% if available_creatures %}
                <table>
                    <tr>
                        <th width="33%">Name</th>
                        <th width="33%">Challenge Rating</th>
                        <th width="33%">Experience Value</th>
                    </tr>
                    {% for creature in available_creatures %}
                        <tr>
                            <td>{{ creature['Name'] }}</td>
                            <td align="center">{{ creature['CR'] }}</td>
                            <td align="center">{{ creature['XP'] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </form>
    </div>
{% endblock main %}