{% extends "base.html" %}

{% block project %}
    {% block project_name %}
        <h1><a href="https://davidschaeffer2.github.io/casper/">casper</a></h1>
    {% endblock %}

    {% block project_image %}
    <a href="https://davidschaeffer2.github.io/casper/">
        <img class="img-responsive" src="../static/img/casper/casper1.PNG" alt="Screenshot of casper in use.">
    </a>
    {% endblock %}

    {% block project_short_desc %}
        <h4>
        <a href="https://davidschaeffer2.github.io/casper/">casper</a> is a
        <a href="http://www.discordapp.com">Discord</a> bot written in Python with the
        <a href="https://github.com/rapptz/discord.py">Discord.py library.</a>
        </h4>
    {% endblock %}

    {% block project_long_desc %}
        <p>
        Still a work-in-progress somewhat. It's functional but not ready for public use where I can be hands-off.
        </p>
        <p>
        It has a variety of features such as, but not limited to:<br>
        Commands are broken up into different cogs relatively based on what they do;<br>
        games, jukebox, memes, reddit, rpg, news, and utilities<br>
        The owner of the bot can use the load and unload commands to manage individual cogs.
        </p>
    {% endblock %}
{% endblock %}

{% block project2 %}
    {% block project_name2 %}
        <h1>
            <a href="/finntools">FinnTools</a>
        </h1>
    {% endblock %}

    {% block project_image2 %}
    <a href="/finntools">
        <img class="img-responsive" src="../static/img/finntools/finntools.PNG" alt="Screenshot of FinnTools in use.">
    </a>
    {% endblock %}

    {% block project_short_desc2 %}
        <h4>
        <a href="https://davidschaeffer2.github.io/finntools/">FinnTools</a>
        is a small side project I made that allows a DM to create encounters
        for their Pathfinder groups.
        </h4>
    {% endblock %}

    {% block project_long_desc2 %}
        <p>
        At the moment, it gives you a very rough idea of what creatures and how
        many of them would fit into a combat encounter for your group based on
        the number of players in the group, their levels, and how hard you want
        the encounter to be. It then gives you a list of creatures that fall
        into that range.
        </p>
    {% endblock %}
{% endblock %}